html {
  box-sizing: border-box;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro button {
  margin-top: 20px;
  width: 300px;
}

.row {
  display: flex;
}

.cell {
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.cell.valid {
  background-color: white;
}

.cell.currPos {
  background-color: red;
}

.cell.start {
  background-color: aqua;
}

.cell.end {
  background-color: yellow;
}

.game {
  display: flex;
}

.labyrinth {
  margin-right: 60px;
}

.game-details {
  border: 1px solid black;
  padding: 15px;
  border-radius: 30px;
}

.game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  background-color: yellow;
}
